################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Intuit/Intuit.BusinessLogic/bin/Debug
/Intuit/Intuit.BusinessLogic/obj/Debug
/Intuit/Intuit.BusinessLogic.UnitTests/bin/Debug
/Intuit/Intuit.BusinessLogic.UnitTests/obj/Debug
/Intuit/Intuit.StockView/.vs/Intuit.StockView
/Intuit/Intuit.StockView/bin/Debug
/Intuit/Intuit.StockView/obj/Debug
/Intuit/Intuit.StockView/packages
/Intuit/Intuit.DataAccess/bin/Debug
/Intuit/Intuit.DataAccess/obj/Debug
/Intuit/Intuit.BusinessLogic/bin/Release
/Intuit/Intuit.BusinessLogic/obj/Release
/Intuit/Intuit.DataAccess/bin/Release
/Intuit/Intuit.DataAccess/obj/Release
/Intuit/Intuit.StockView/bin/Release
/Intuit/Intuit.BusinessLogic.UnitTests/obj/Release
/Intuit/Intuit.StockView/obj/Release
/Intuit/packages/EntityFramework.6.4.0
/Intuit/packages
/Intuit/.vs/Intuit.StockView/v16/Server/sqlite3
